@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@400;500;600;700;800;900&display=swap');
body{font-family: 'Poppins', sans-serif; line-height:1.5; font-weight:400; color:#001e34;}
img{max-width:100%; height:auto; outline:none;}
a{text-decoration:none!important; color:#2397cc; outline:none;}
a:hover, a:active{text-decoration:none!important; color:#001e34;}
.row-7{margin-left:-7px; margin-right:-7px;}
.row-7 .col,
.row-7 [class^="col-"]{padding-left:7px; padding-right:7px;} 
.row-10{margin-left:-10px; margin-right:-10px;}
.row-10 .col,
.row-10 [class^="col-"]{padding-left:10px; padding-right:10px;}
a, .btn, .btn:hover{
    outline: none !important;
    box-shadow: none !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: calc(100% - 15px);
    box-shadow: none;
    background-color: #0084e1;
    position: fixed;
    height: 75px!important;
    z-index: 999999;
    background: rgba(35,40,56, 1);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 80%);
    border-bottom: 1px solid #28395a;
    padding: 0 30px;
}

.header .img-box {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 80%);
    border: 1px solid #0084e1;
    top: 32px;
    right: 50px;
}
.loggedin > ul > li > a {
    top: -12px;
    left: 10px;
    font-size: 14px !important;
}

.loggedin > ul > li.has-sub > a:after {
    right: 45%!important;
}

.loggedin > ul > li.has-sub > a:before {
    right: 50%!important;
}

.loggedin > ul > li > a:hover {
    color: #0084e1;
}

.header .img-box img {
    width: 100%;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .brand-logo {
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .brand-logo span{
    color: #0084e1;
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 75px;
    z-index: 999999;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: #0084e1;
     padding: 15px 0;
    background: rgba(35,40,56,1);
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border-right: 1px solid #28395a;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    padding-left: 30px;
    cursor: pointer;
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.sidebarMenuInner li a:hover{
    color: #0084e1;   
}
.sidebarMenuInner li.active a{
    color: #0084e1;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 25px;
    left: 30px;
    height: 30px;
    width: 30px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 5px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 5px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -15px;
}
/*nav*/

.header-btn {
    height: 100%;
    float: right;
}
.header .login-btn, 
.about-us .post-btn {
    background: #0084e1;
    -moz-user-select: none;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 25px 40px;
    border-radius:5px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}

.about-us .post-btn {
    padding: 28px 50px;
}

nav .header-btn .btn::before, 
.about-us .post-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #0073c5;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0;
    color: #fff;
}

nav .header-btn .btn.register-btn {
    margin-right: 10px;
}

nav .header-btn .btn.login-btn {
    background: none;
    border: 1px solid #0084e1;
    color: #0084e1;
}

nav .header-btn .btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}

.about-us .post-btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}

nav .header-btn .btn.login-btn:hover{
    color: #fff;
}

#cssmenu ul {
    width: 100%!important;
    text-align: center!important;
}
#cssmenu > ul > li {
    margin: 0 20px !important;
    float: none!important;
    display: inline-block!important;
}

#cssmenu > ul > li > a{
    line-height: 60px !important;
    padding: 0 !important;
    color: #000;
}
/*banner-section*/
.banner_section {
    width: 100%;
    height: auto;
    background-color: #70d0f8;
}
.slider {
    width: 100%;
    height: 100vh;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    height: 100vh;
}

.fill {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-caption {
    display: block;
    position: absolute;
    z-index: 100;
    height: 100%;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    top: 0;
    padding-top: 20%;
    margin: 0;
    max-width: none;
    z-index: 200;
}

.carousel-control-next-icon {
    background: url(../images/arrow-circle-right-solid-svg.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
}

.carousel-control-prev-icon {
    background: url(../images/arrow-circle-right-solid-svg.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}

.banner_section .search-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    height: auto;
    float: left;
    width: 100%;
}
.banner_section .search-form-area {
    width: 100%;
    float: left;
    background: rgba(0,0,0,0.5);
    padding: 33px 20px;
    margin: 0;
    text-align: left;
    z-index: 300;
    position: relative;
    position: relative;
}

.search-form-area{
    width: 100%;
    float: left;
    background: #28395a;
    padding: 33px 20px;
    margin: 0;
    text-align: left;
    z-index: 300;
    position: relative;
    position: relative;
}

.search-form-area li {
    width: auto;
    margin-right: 1.5%;
    display: inline-block;
    height: auto;
    position: relative;
    color: #666;
    float: left;
    padding: 0;
}

.search-form-area li:nth-child(5n+1) {
    width: 5%;
}

.search-form-area li:nth-child(5n+2) {
    width: 33%;
}

.search-form-area li:nth-child(5n+3) {
    width: 20.5%;
}

.search-form-area li:nth-child(5n+4) {
    width: 20.5%;
}

.search-form-area li:nth-child(5n+5) {
    width: 14%;
    margin-right: 0;
}

.search-form-area i {
    font-size: 40px;
    color: #0084e1;
}

.text-field-box {
    background: #fff;
    border: 1px solid #0084e1;
    border-radius: 5px !important;
    height: 43px;
    line-height: 43px;
    text-align: left;
    color: #666;
    padding: 0 15px;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}

.text-field-box::placeholder {
    color: #666;
}

.button-medium {
    background: #0084e1;
    text-transform: uppercase;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    height: 43px;
    line-height: 43px;
    width: 100%;
    border: 1px solid #28395a;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}
.button-medium:focus {
    outline: none;
}

.button-medium:hover {
    background: #fff;
    color: #28395a;
    border: 1px solid #28395a;
}
.search-form-area li select {
    background: #fff url(../images/arrow.png) no-repeat right center !important;
    appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 1px solid #0084e1;
}
/*start registeration-banners*/
.registeration-banners{
    position: relative;
    padding: 100px 0 70px;
    border-bottom: 1px solid #a9dcff;
}

.banner-style-one, 
.banner-style-two {
    position: relative;
    margin-bottom: 30px;
}

.banner-style-one .inner-box {
    position: relative;
    border-radius: 8px;
    padding: 50px;
    border: 1px solid #a9dcff;
    background: rgb(40 57 90);
}

.banner-style-two .inner-box {
    position: relative;
    background: rgb(0 132 225);
    border-radius: 8px;
    padding: 50px;
}
.inner-box .content {
    position: relative;
    padding-right: 220px;
}

.inner-box .image {
    position: absolute;
    right: 30px;
    bottom: 0;
    margin-bottom: 0;
}

.inner-box .content h3 {
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.inner-box .content p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.inner-box .theme-btn {
    position: relative;
    min-width: 200px;
    background: #ffffff;
    color: #202124;
    border: 1px solid #ffffff;
    line-height: 20px;
    border-radius: 8px;
    font-weight: 400;
    padding: 14px 35px;
    white-space: nowrap;
    text-align: center;
    display: block;
}

.inner-box .theme-btn:hover {
    border: 1px solid #28395a;
    color: #28395a;
    background: rgb(201 233 255);
}
/*start our-services*/
.our-services {
    padding: 80px 0;
    text-align: center;
}

.sub-title {
    color: #0084e1;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 28px;
    display: block;
}

.main-title {
    color: #28395a;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 80px;
}

.our-services .service-items {
    border: 0.5px solid #a9dcff;
    padding: 45px 15px;
    border-radius: 15px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    margin-bottom: 30px;
}

.our-services .service-items:hover {
    box-shadow: 0px 10px 30px 0px rgba(0,144,245,0.3);
    transform: translate(0, 2px);
}

.our-services .service-items .services-ion i{
    font-size: 50px;
    margin-bottom: 20px;
    color: #28395a;
}

.our-services .service-items:hover .services-ion i{
    color: #0084e1;
}

.our-services .service-items h5 a {
    font-weight: 600;
    font-size: 18px;
    color: #001f38;
    line-height: 1.4;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.our-services .service-items:hover h5 a {
    color: #0084e1;
}

.our-services .service-items .services-cap span {
    color: #0084e1;
    font-size: 18px;
}

/*end our-services*/

/* start online-resume-section*/
.online-resume-section{
    padding: 60px 0;
    min-height: 400px;
    background: url(../images/online-resume.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

.online-resume-section:after {
    position: absolute;
    content: "";
    background-color: rgb(40 57 90 / 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
}

.online-resume-section .sub-title {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 28px;
    font-weight: 600;
}

.online-resume-section .resume-title {
    font-family: 'Mulish', sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 40px;
}

.online-resume-section .resume-btn, 
.browse-btn {
    font-size: 18px;
    border: 2px solid #0084e1;
    color: #0084e1;
    background: none;
    padding: 18px 60px;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    text-transform: capitalize;
    font-weight: 600;
}

.browse-btn {
    margin-top: 50px;
}

.online-resume-section .resume-btn {
    border: 2px solid #b1dbff;
    color: #b1dbff; 
}

.online-resume-section .resume-btn::before, 
.browse-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0073c5;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.7s;
    transition-timing-function: ease-in-out;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0;
    color: #fff;
    overflow: hidden;
}

.online-resume-section .resume-btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}
.online-resume-section .resume-btn:hover {
    color: #fff;
    border: 2px solid #fff;
}

.browse-btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}
.browse-btn:hover {
    color: #fff;
    border: 2px solid #28395a;
}


/*start feature-job*/
.feature-job {
    padding: 80px 0;
    text-align: center;
}

.feature-job .single-job-item {
    padding: 15px 10px 25px;
    border: 0.5px solid #a9dcff;
    margin-bottom: 30px;
    background: #eee;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border-radius: 6px;
}

.feature-job .single-job-item:hover{
    box-shadow: 0px 10px 30px 0px rgba(0,144,245,0.3);
    transform: translate(0, -2px);
    background: #fff;
}

.feature-job .single-job-item .items-link {
    margin-bottom: 5px;
}

.feature-job .single-job-item .items-link:last-child {
    margin-bottom: 0;
}

.feature-job .job-items {
    display: flex;
    flex-wrap: wrap;
}

.feature-job .company-img img {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feature-job .job-tittle {
    text-align: center;
    margin-bottom: 15px;
}

.feature-job .job-tittle a h4 {
    color: #28395a;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 700;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.feature-job .job-tittle a h4:hover {
    color: #0084e1;
}

.feature-job .job-tittle ul {
    padding: 0;
    margin: 0 0 10px 0;
}

.feature-job .job-tittle ul li {
    display: inline-block;
    margin-right: 8px;
    font-size: 15px;
    color: #313131;
    line-height: 1.8;
    position: relative;
}

.feature-job .job-tittle ul li:after {
    position: absolute;
    content: "'";
    width: 10px;
    left: 100%;
    top: 6px;
    font-size: 20px;
}

.feature-job .job-tittle ul li:last-child:after {
    display: none;
}
.feature-job .company-img {
    width: 60%;
    border-radius: 5px;
    overflow: hidden;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 6px;
    position: relative;
}

.feature-job .items-link a {
    color: #28395a;
    display: block;
    border-radius: 30px;
    padding: 0;
    text-align: center;
    font-weight: 600;
}

.feature-job .items-link a:hover {
    color: #0084e1;
}

.feature-job .items-link span {
    color: #313131;
    display: block;
}


/*start apply-process*/
.apply-process {
    padding: 100px 0;
    min-height: 500px;
    background: url(../images/sketch-bg.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

.apply-process:after {
    position: absolute;
    content: "";
    background-color: rgb(40 57 90 / 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
}

.apply-process .main-title, 
.apply-process .sub-title {
    color: #fff;
}

.apply-process .process_item {
    padding: 44px 28px;
    background: rgb(40 57 90 / 0.9);
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #85d9ff;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.apply-process .process_item:hover {
    box-shadow: 0px 10px 30px 0px rgb(1 36 71 / 50%);
    transform: translate(0, -2px);
    background: rgb(40 57 90 / 0.8);
}

.apply-process .process_item i{
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
    transition: transform 650ms ease-in-out, filter 650ms ease-in-out; 
}

.apply-process .process_item:hover i {
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
}

.apply-process .process_item h6 {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    line-height: 1.4;
    margin-bottom: 20px;
}

.apply-process .process_item p{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    color: #b1dbff;
}

/* start of francis-section*/
.about-us{
    padding: 100px 0;
    text-align: left;
    border-bottom: 1px solid #a9dcff;
}

.about-us .main-title {
    margin-bottom: 30px;
}

.about-us h6 {
    font-size: 17px;
    font-weight: 700;
    color: #28395a;
    line-height: 25px;
    margin-bottom: 45px;
}

.about-us p {
    font-size: 16px;
    color: #313131;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 45px;
}

.about-section .expertise-box{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0 0 0 40px;
    position: relative;
}

.expertise-box img{
    width: 100%;
}

.support-img-cap {
    position: absolute;
    bottom: 0px;
    border: 1px solid #0084e1;
    padding: 59px 28px;
    left: -100px;
    animation: fa-spin 4s ease infinite;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    width: 200px;
}

.support-img-cap p{
    color: #28395a;
    line-height: 1;
    margin: 0;
    font-size: 20px;
}

.support-img-cap span{
    font-size: 60px;
    color: #0084e1;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
}

/*client-section*/
.client-section{
    padding: 80px 0;
    background: url(../images/clients_back.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

.client-section:after {
    position: absolute;
    content: "";
    background-color: rgb(40 57 90 / 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
}

.client-section .main-title {
    color: #fff;
}

.client-section .img_box{
    height: 230px;
    background-color: #ffffff;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #85d9ff;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.client-section .img_box:hover {
    box-shadow: 0px 10px 30px 0px rgba(0,144,245,0.3);
    transform: translate(0, -2px);
}

.client-section{
    text-align: left;
}
.client-section .slide-content{
    padding: 0 15px;
}
.client-section .slide-content h6{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}
.client-section .slide-content .more-btn{
    font-size: 15px;
    color: #fff;
    border: none !important;
    outline: none;
    padding: 5px 0;
}
.client-section .slide-content .more-btn:hover{
    text-decoration: underline;
    color: #0084e1;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
    padding: 1rem 0;
    list-style-type: none;
}

.slick-dots li {
    margin: 0 0.25rem;
}

.slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #fff;
    text-indent: -9999px;
    outline: none;
    box-shadow: none;
    border: none;
}

.slick-dots li.slick-active button {
    background-color: #0084e1;
}
/*start browse-jobs*/
.browse-jobs{
    padding: 80px 0 60px;
}

.browse-jobs h4 {
    position: relative;
}

.browse-jobs h4:after {
    position: absolute;
    content: "";
    width: 80%;
    height: 4px;
    background: #0084e1;
    top: 100%;
    left: 0;
}

.browse-jobs h4:before {
    position: absolute;
    content: "";
    width: 20%;
    height: 8px;
    background: #28395a;
    top: 100%;
    left: 0;
}

.browse-jobs ul li {
    margin-bottom: 10px;
    position: relative;
}

.browse-jobs ul li a{
    color: #313131;
}

.browse-jobs ul li:before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 2px;
    width: 0px;
    margin-top: -1px;
    content: "";
    border-bottom: 2px solid #1967D2;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.browse-jobs ul li:hover:before {
    width: 15px;
}

.browse-jobs .main-title {
    margin-bottom: 65px;
}

.browse-jobs ul li a {
    display: inline-block;
    color: #696969;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.browse-jobs ul li:hover a {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    color: #1967D2;
}



/*footer*/
footer{
    padding: 80px 0 0 0;
    position: relative;
    display: block;
    z-index: 1;
}

footer:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background-color: rgba(35,40,56, 0.95);
    z-index: -1;
}

footer .layer-outer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

footer .layer-outer .shape1 {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: .03;
}
footer .layer-outer .shape2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 510px;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .03;
} 

footer ul, 
.browse-jobs ul {
    padding: 0;
    margin:0;
    list-style: none;
}

footer ul li {
    margin-bottom: 15px;
}

footer ul li a,
.browse-jobs ul a {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

footer ul li a:hover{
    color: #42b1ff;
    padding-left: 5px;
}

footer .copy_section, 
footer .up_copy_section {
    width: 100%;
    background: #0090f5;
    padding: 10px 0px;
    text-align: center;
}

footer .up_copy_section {
    margin-top: 50px;
    background: #28395a;
}

footer .copy_section p, 
footer .up_copy_section p {
    margin: 0;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
} 

.footer-title, 
.browse-jobs h4 {
    color: #28395a;
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-title {
    color: #fff;
}

.footer-description {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 25px;
}

footer .form-inline {
    flex-flow: nowrap;
    margin-top: 40px;
}

footer .form-control {
    width: 100% !important;
    height: 43px;
    padding: 10px 20px;
    border: 1px solid #0090f5;
    border-radius: 6px 0 0 6px!important;
    outline: none;
    box-shadow: none;
}

footer .form-control:focus{
    outline: none!important;
    box-shadow: none!important;   
    border: 1px solid #0090f5 !important;
}

footer .submit-btn{
    border: 0;
    cursor: pointer;
    height: 43px;
    padding: 13px 10px;
    background: #0090f5;
    color: #fff;
    font-weight: 500;
    line-height: 1;
    border-radius: 0 6px 6px 0;
}

footer .submit-btn:hover {
    background: #41b1ff;
}

/*start blog-section*/
.blog-section .blog-item {
    display: block;
}

.blog-section .blog-item  p{
    color: #313131;
}

.blog-item-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

.blog-item-img img {
    position: absolute;
    content: " ";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.scroll-top {
    position: fixed;
    right: 40px;
    bottom: 100px;
    background: #28395a;
    cursor: pointer;
    border: 1px solid #0084e1;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 9999;
}
.scroll-top i{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.scroll-top:hover i{
    text-shadow: 2px 2px 3px #002953;
    color: #00a8ff;
}

.inner_banner_section {
    width: 100%;
    min-height: 400px;
    text-align: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-top: 75px;
}
.inner_banner_section img{
    position: absolute;
    content: " ";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 100%;
}
.inner_banner_section:after{
    position: absolute;
    content: " ";
    background: rgba(0,0,0,0.5);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.inner_banner_section .inner-text {
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    z-index: 9;
    display: flex;
    width: 100%;
}

.inner_banner_section .inner-text h3{
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 0.2px;
    color: #0090f5;
    margin-bottom: 15px;
    text-transform: capitalize;
    letter-spacing: 0.5px
}

.inner_banner_section .inner-text p{
    color: #fff;
    letter-spacing: 0.2px;
    font-size: 20px;
    font-weight: 500;
    width: 70%;
    margin: auto;
}

/*blog-page*/
.login_section {
    margin-top: 75px;
}

.blog-sec, 
.jobs-details {
    padding: 80px 0;
}
.blog-sec .blog-item{
    width: 100%;
    height: auto;
    float: left;
    margin: 0 0 35px;
    background: #fafafa;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-align: left;
}

.blog-sec .blog-item:hover {
    box-shadow: 0px 10px 30px 0px rgba(0,144,245,0.3);
    transform: translate(0, -2px);
    background: #fff;
}

.blog-sec .job-items {
    display: flex;
    flex-wrap: wrap;
}

.blog-sec .job-items .blog-item-img {
    height: 220px;
    margin: 0;
    position: relative;
}
.blog-sec .job-items .blog-item-img .mask {
    position: absolute;
    content: "";
    background-color: rgb(40 57 90 / 0.8);
    width: 100%;
    height: 0;
    left: 0;
    top: 110%;
    right: 0;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.blog-sec .job-items .blog-item-img:hover .mask{
    height: 100%;
    top: 0;
}
.text-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.blog-sec .job-items .blog-item-img img{
    border-radius: 0;
}

.blog-sec .job-items .job-tittle {
    padding: 30px 20px;
    text-align: left;
}
.blog-sec .job-items .job-tittle h4 {
    color: #28395a;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 700;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.blog-sec .job-items .job-tittle h4:hover{
    color: #0084e1;
}

.blog-sec .job-items .job-tittle p {
    color: #313131;
}

.blog-sec .job-items .job-tittle .btn-blog{
    background: #0084e1;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #0084e1;
    padding: 8px 25px;
}
.blog-sec .job-items .job-tittle .btn-blog:hover {
    background: #fff;
    color: #0084e1;
}
.blog-sec .job-items .job-tittle span{
    margin-bottom: 10px;
    display: block;
}
.blog-sec .job-items .job-tittle span i {
    font-size: 16px;
    margin-right: 6px;
    color: #28395a;
}
.blog-sec .job-items .job-tittle span a {
    color: #0084e1;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
}
.inner-search-bar {
    position: static;
    margin-top: 75px;
    padding: 30px 0;
    background: #e1e2e2;
    border-bottom: 1px solid #a9dcff;
}
.search-form-area {
   /* background: rgba(35,40,56, 1)*/
}

/*jobs-sec*/
.jobs-sec {
    padding: 80px 0;
}
.jobs-sec ul {
    width: 100%;
    height: auto;
    float: left;
    display: block;
    padding: 0;
}
.jobs-sec ul li {
    padding: 25px 20px;
    border: 0.5px solid #a9dcff;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.jobs-sec ul li:hover {
    box-shadow: 0px 10px 30px 0px rgba(0,144,245,0.3);
    transform: translate(0, -1px);
}
.jobs-sec ul li .thumb-holder {
    display: inline-block;
    width: 8%;
    height: auto;
    overflow: hidden;
    border-radius: 50px;
    width: 60px;
    background: #eee;
    float: left;
    position: absolute;
}
.jobs-sec ul li .thumb-holder img {
    border-radius: 50px;
    overflow: hidden;
}
.main-job-details li .info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-top: 0;
    vertical-align: middle;
    width: 100%;
}

.main-job-details li .info-box .title-holder {
    height: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.main-job-details li .info-box h6 {
    margin: 0;
    line-height: 46px;
    font-size: 22px;
    font-weight: 700;
    color: #28395a;
}
.main-job-details li .info-box .text-holder {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: right;
}
.main-job-details li .info-box .text-holder p {
    margin: 0;
}
.main-job-details li .info-box span {
    font-size: 14px;
}
.info-box .full-time .highlight {
    color: #f20707;
}
.info-box .freelance .highlight {
    color: #522f2f;
}
.info-box .temporary .highlight {
    color: #1fd00d;
}
.info-box .part-time .highlight {
    color: #3598f5;
    font-weight: 700;
}
.apply-job-btn{
    background: #0084e1;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #0084e1;
    padding: 9px 12px;
    margin-left: 20px;
}
.apply-job-btn:hover {
    background: #fff;
    color: #0084e1;
}

.jobs-sec .browse-btn {
    margin-top: 10px;
}

.overview-items li {
    position: relative;
}

.jobs-details h4 {
    margin: 0px 0 10px;
    display: block;
    color: #28395a;
    font-size: 30px;
    font-weight: 700;
}
.jobs-details p,
.company-detail .title p {
    color: #313131;
}
.overview-box {
    padding: 15px 30px 25px;
    margin: 20px 0;
    background: #eee;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.overview-items {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
}
.overview-items li {
    width: 100%;
    height: auto;
    display: block;
    padding-left: 50px;
    font-size: 16px;
    color: #232838;
    line-height: 24px;
    margin: 0 0 35px;
    position: relative;
}

.overview-items li i{
    position: absolute;
    left: 0;
    font-size: 30px;
    color: #28395a;
    top: 5px;
}

.overview-items li span {
    width: 100%;
    display: block;
    font-weight: 700;
}
.overview-items li p {
    font-size: 15px;
    color: #313131;
    font-weight: 500;
}
.apply-btn {
    background: #0084e1;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #0084e1;
    padding: 12px 35px;
    margin-bottom: 20px;
}
.apply-btn:hover {
    background: #28395a;
    color: #fff;
}
.company-detail {
    width: 100%;
    height: auto;
    float: left;
    padding: 0 0 35px;
    border-bottom: 1px solid #ccc;
    margin: 0 0 35px;
    display: flex;
    align-items: center;
}
.company-detail .logo {
    margin-right: 15px;
}
.list-style-icon-hand {
    display: block;
    float: left;
    height: auto;
    list-style: outside none none;
    margin: 0 0 25px;
    padding: 0;
    width: 100%;
}
.list-style-icon-hand li {
    color: #313131;
    display: flex;
    float: left;
    line-height: 25px;
    list-style: outside;
    padding-left: 30px;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.list-style-icon-hand li a {
    color: #313131;
    line-height: 25px;
}
.list-style-icon-hand li:last-child{
    margin: 0;
}
.list-style-icon-hand li:before {
    color: #28395a;
    content: "\f0a4";
    font-family: "Font Awesome 5 Free"; font-weight: 600;
    font-size: 16px;
    left: 40px;
    position: absolute;
}
.tab-content {
    padding: 20px 25px 40px;
}
.nav-tabs .nav-link {
    background-color: #eee;
    color: #0084e1;
    margin: 0;
    padding: 15px 20px;
    border: 0.3px solid #0084e1;
    width: 100%;
    float: left;
    cursor: pointer;
    font-weight: 700;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;
    border-radius: 0;
}
.nav-tabs .nav-link:hover, 
.nav-tabs .nav-link.active {
    background-color: #0084e1;
    border: 1px solid #0084e1;
    color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.card.tab-section {
    border: none;
    border-radius: 0;
    margin-top: 50px;
}
.card.tab-section .card-header{
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}
.card.tab-section .card-header-tabs{
    margin: 0;
    border-bottom: 0;
}
.card.tab-section .card-body {
    border: 0.3px solid #0084e1;
}


/*login page*/
.jobs-details.login_section{
    padding: 0;
    position: relative;
}
.jobs-details {
    margin-top: 75px;
}
.sidebar .single-slidebar .btn-link{
    position: relative;
}
.sidebar .single-slidebar .btn-link:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f068";
    font-weight: 900;
    float: right; 
    transition: all 0.5s;
    color: #fff;
}
.sidebar .single-slidebar .btn-link.collapsed:after {
    content: "\f067";
    transition: all 0.5s;
    color: #fff;
}
.job-list-accordian {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.job-list-accordian .card-header{
    padding: 0;
    margin-bottom: 1px;
    background-color: rgb(255 255 255);
    border-bottom: 1px solid rgb(169 220 255);
    border-radius: 0;
}
.sidebar .job-list-accordian .single-slidebar .btn-link {
    color: #fff;
}


/*responsive*/
@media screen and (max-width: 1199px) {

}
@media screen and (max-width: 1023px){

}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 575px) {

}
@media screen and (max-width: 479px) {

}