@font-face {
  font-family: 'SamsungSans-Medium';
  src: url('../fonts/SamsungSans-Medium.eot');
  src: url('../fonts/SamsungSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SamsungSans-Medium.svg#SamsungSans-Medium') format('svg'),
       url('../fonts/SamsungSans-Medium.ttf') format('truetype'),
       url('../fonts/SamsungSans-Medium.woff') format('woff'),
       url('../fonts/SamsungSans-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

