/*------------------------------------------------------*/
/* JAVASCRIPT FORM 040
/*------------------------------------------------------*/
#js_frm_040 {
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#js_frm_040:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#js_frm_040:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#js_frm_040 > .carousel-inner > .carousel-item > img,
#js_frm_040 > .carousel-inner > .carousel-item > a > img {
  width: 100%;
  margin: auto;
  opacity: 0.5;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_hrbrarrow .carousel-control-prev,
.ps_control_hrbrarrow .carousel-control-next{
  top: 45%;
    opacity: 0;
    width: 50px;
    height: 50px;
    z-index: 100;
    color: rgba(255, 255, 255, 0.49);
    display: block;
    font-size: 18px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: rgba(100, 100, 100, 0.59);
}
.ps_control_hrbrarrow:hover .carousel-control-prev,
.ps_control_hrbrarrow:hover .carousel-control-next{
  opacity: 1;
}
.ps_control_hrbrarrow .carousel-control-prev {
  left: 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.ps_control_hrbrarrow .carousel-control-next {
  right: 0;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.ps_control_hrbrarrow .carousel-control-prev:hover,
.ps_control_hrbrarrow .carousel-control-next:hover{
  opacity: 1;
      color: rgba(0,0,0,0.7);
    background: rgba(255,255,255,0.4);
}
.ps_control_hrbrarrow .carousel-control-prev > span:nth-child(1){
 left: 45%;
 padding-top: 16px;
}
.ps_control_hrbrarrow .carousel-control-next > span:nth-child(1){
 right: 45%;
 padding-top: 16px;
}
/*---------- FORM ----------*/
.js_frm_subscribe form{
  padding: 10px;
  background: #81818175;
  border-color: #00000075;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.js_frm_subscribe > form > .row{
  margin: 0;
}
.js_frm_subscribe > form > .row > div{
  padding: 0;
}
.js_frm_subscribe > form .form-group{
  margin:0;
}
/*---------- INPUT FIELDS ----------*/
.js_frm_subscribe > form > div input{
  height: 50px;						/*---------- height is essential to show placeholder in firefox ----------*/
  border: none;
  color: #000000;
  padding: 0 20px;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.98);
  letter-spacing: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0px;
  -webkit-transition: all .5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all .5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.js_frm_subscribe > form > div input:focus{
  border: none;
  outline: none;
  background: rgba(255,255,255,0.7);
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*---------- PLACE HOLDER ----------*/
.js_frm_subscribe > form > div input::-webkit-input-placeholder{
  color: #000000;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.js_frm_subscribe > form > div input::-moz-placeholder{
  color: #000000;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.js_frm_subscribe > form > div input:-ms-input-placeholder{
  color: #000000;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.js_frm_subscribe > form > div input:-moz-placeholder{
  color: #000000;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.js_frm_subscribe > form > div input:focus::-webkit-input-placeholder{
  color: #000000;
}
.js_frm_subscribe > form > div input:focus::-moz-placeholder{
  color: #000000;
}
.js_frm_subscribe > form > div input:focus:-ms-input-placeholder{
  color: #000000;
}
.js_frm_subscribe > form > div input:focus:-moz-placeholder{
  color: #000000;
}
/*---------- SLIDE CAPTION ----------*/
.js_frm_subscribe{
  left: 0;
  top: 0%;
  right: 0;
  width: 80%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  position: absolute;
}
.js_frm_subscribe > h3{
  padding: 0;
  color: rgba(255,255,255,0.8);
  font-size: 40px;
  font-weight: 700;
  text-shadow: none;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}
.js_frm_subscribe > p{
  color: rgba(255,255,255,0.8);
  width: 65%;
  margin: auto;
  font-size: 14px;
  text-shadow: none;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}
/*---------- BUTTONS ----------*/
.js_frm_subscribe > form > div > div > button,
.js_frm_subscribe > form > div > div > button:focus{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #ffffff;
  box-shadow: none;
  letter-spacing: 1px;
  background: #33b6cb;
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.js_frm_subscribe > form > div > div > button:hover,
.js_frm_subscribe > form > div > div > button:active{
    background: #0b95ac !important;
    color: #fff !important;
    border: 1px solid #0b95ac !important;
}
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- FORM ----------*/

  #js_frm_040 {
    min-height: 400px;
  }
  #js_frm_040 > .carousel-inner > .carousel-item > img, #js_frm_040 > .carousel-inner > .carousel-item > a > img{
    min-height: 400px;
  }
  .js_frm_subscribe > form > div input{
    font-size: 10px;
  }
  .js_frm_subscribe > form > div select{
    font-size: 10px;
  }
  .js_frm_subscribe > form > div > div > button,
  .js_frm_subscribe > form > div > div > button:focus{
    font-size: 10px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_control_hrbrarrow .carousel-control-prev,
  .ps_control_hrbrarrow .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_frm_subscribe{
    top: 30%;
    width: 100%;
  }
  .js_frm_subscribe > h3{
    font-size: 14px;
	margin-bottom: 5px;
  }
  .js_frm_subscribe > p{
    width: 100%;
	font-size: 12px;
	margin-bottom: 5px;
  }
}


.btn_banner{
  background: #919191a1;
  color: #fff !important;
  padding: 0px 20px 8px 20px !important;
  border-radius: 0px !important;
  margin-bottom: 10px;
}
.btn_banner:hover{
  background: #33b6cb;
  color: #fff !important;
}


/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .js_frm_subscribe{
    top: 15%;
    width: 90%;
  }
  .js_frm_subscribe > h3{
    font-size: 25px;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .js_frm_subscribe{
    top: 15%;
    width: 90%;
  }
}

/*---------- MEDIA 768px - 875px ----------*/
@media (min-width: 768px) and (max-width: 1000px) {
  /*---------- SLIDE CAPTION ----------*/
  .js_frm_subscribe{
    top: 25%;
    width: 90%;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}