

/*--------------------------------------------------------------
# Add Job Details Page CSS
--------------------------------------------------------------*/


.add_job_content {
    box-shadow: 0 5px 15px 0 rgba(41,128,185,.1);
    -webkit-box-shadow: 0 5px 15px 0 rgba(41,128,185,.1);
    padding: 10px 0px 10px 0px;
}
.add_job_content .headline {
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
}
.add_job_content .add_job_detail {
  display: block;
  padding: 20px 30px;
}
.submit-field {
  margin-bottom: 15px;
  display: block;
}
.submit-field h5,
.submit-field label {
  font-size: 15px;
  font-weight: 700;
  color: #28395a;
  margin-bottom: 12px;
}
input.with-border, input[type=text].with-border, input[type=password].with-border, input[type=email].with-border, input[type=number].with-border, textarea.with-border, select.with-border {
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  outline: none;
  font-size: 14px;
  color: gray;
  margin: 0 0 16px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  font-weight: 500;
  opacity: 1;
  border-radius: 4px;
}
.submit-field .form-control {
  font-size: 16px;
  line-height: 1.2;
  color: #131e33;
  font-weight: 500;
  letter-spacing: 0.5px;
  display: block;
  width: 100%;
  font-size: 14px;
  background: #fff;
  height: 53px;
  border-radius: 0;
  padding: 0 30px 0 65px;
  border: 1px solid #0084e1;
}
.profile-sidebar .single-slidebar {
  background: #cae9ff42;
  padding: 30px 20px;
  border: 0.5px solid #a9dcff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.submit-field textarea.form-control {
  height: 100px;
  resize: none;
}

.submit-field a.btn.btn-outline {
  border: 1px solid #008ff4;
  margin-top: 20px;
  font-weight: 700;
  border-radius: 5px;
}
.submit-field a.btn.btn-outline small {
  font-weight: 600;
  font-size: 14px;
}
#user-education-edit h5{
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  color: #28395a;
}

.submit-field .input-group-text {
  background: #fff !important;
}
.add_job_btn{
  padding: 10px 0px 10px 30px;
}
.job_detail_btn {
  background: #0084e1;
  -moz-user-select: none;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  padding: 25px 40px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0 5px 0 0;
}
button.btn.job_detail_btn.close_all_collapse {
  background: red;
}

.job_detail_btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #0073c5;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
  border-radius: 0;
  color: #fff;
}
button.btn.job_detail_btn.close_all_collapse:before {
  background: #b70000;
}

.job_detail_btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}
.profile_page .sidebar .single-slidebar .cat-list li {
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: transparent;
}
.profile_page .sidebar .single-slidebar .cat-list li:last-child{
  margin: 0;
}
.sidebar .single-slidebar .cat-list p {
  font-size: 17px;
  font-weight: 700;
}


/*--------------------------------------------------------------
# Applied Job Page CSS
--------------------------------------------------------------*/


.single-slidebar figure {
    text-align: center;
    margin-bottom: 10px;
}
.employer-dashboard-thumb {
    border: 1px solid #efefef;
    width: 140px;
    height: 140px;
    display: inline-block;
    border-radius: 100%;
    padding: 3px;
    margin-bottom: 22px;
}
.employer-dashboard-thumb img {
  border-radius: 100%;
    height: 125px;
    margin-top: 3px;
}
.onjob-fileUpload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 12px;
    border: 1px solid #33B6CB;
    padding: 8px 10px 8px 10px;
}
.clr_b{
      color: #33B6CB;
}
.onjob-fileUpload span i {
    font-size: 13px;
    margin-right: 3px;
}
.onjob-fileUpload input.onjob-upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
figcaption h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

figcaption span{
    display: block;
    font-size: 14px;
    color: #4e565d;
    line-height: 1;
    margin-bottom: 20px;
}


/*--------------------------------------------------------------
# User Profile Page CSS
--------------------------------------------------------------*/

.profile_job_content {
    background: #cae9ff42;
    padding: 30px;
    border: 0.5px solid #a9dcff;
    border-radius: 10px;
    margin-bottom: 30px;
}
.profile_job_content .headline h3 {
  color: #28395a;
  font-size: 35px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 15px;
  background-color: #28395a;
  background-image: linear-gradient(45deg, #28395a, #0084e1 80%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
}

.headline h3 span {
  -webkit-background-clip: inherit;
  -moz-background-clip: inherit;
  cursor: pointer;
}
.profile_job_content .profile_job_detail {
    display: block;
}

/*--------------------------------------------------------------
# Job Alerts  Page CSS
--------------------------------------------------------------*/

.onjob-job-alerts {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.onjob-job-alerts-wrap table {
    background-color: transparent;
    width: 100%;
}
.onjob-job-alerts thead {
    background-color: #f2f2f2;
}
.onjob-job-alerts thead tr th:first-child{
      padding-left: 15px;
}
.onjob-job-alerts thead:first-child > tr:first-child > th{
  border-bottom: 0 none;
  padding: 20px 15px 20px 15px !important;
}
.onjob-job-alerts thead tr th {
    text-align: left;
    padding: 3px 0px 3px 0px;
    font-size: 14px;
    color: #333333;
    font-weight: 500;
}
.onjob-job-alerts tbody tr {
    border-bottom: 1px solid #ececec;
}
.onjob-job-alerts thead tr th:first-child, .onjob-job-alerts tbody td:first-child {
    padding-left: 15px;
}

.onjob-job-alerts table > thead > tr > th, .onjob-job-alerts table > tbody > tr > th, 
.onjob-job-alerts table > tfoot > tr > th, .onjob-job-alerts table > thead > tr > td, 
.onjob-job-alerts table > tbody > tr > td, .onjob-job-alerts table > tfoot > tr > td {
    border: none;
    text-align: left;
}
.onjob-typo-wrap table > thead > tr > th, .onjob-typo-wrap table > tbody > tr > th, .onjob-typo-wrap table > tfoot > tr > th, .onjob-typo-wrap table > thead > tr > td, .onjob-typo-wrap table > tbody > tr > td, .onjob-typo-wrap table > tfoot > tr > td {
    line-height: 2.5;
}
.onjob-job-alerts tbody td {
    padding: 16px 0px 16px 0px;
    font-size: 14px;
    vertical-align: middle;
    text-align: left;
}
.onjob-job-alerts tbody td span {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}
.onjob-job-alerts tbody tr:nth-child(even) {
    background-color: #fafcfc;
}

.onjob-job-alerts tbody tr {
    border-bottom: 1px solid #ececec;
}
.onjob-job-alerts .onjob-savedjobs-links {
    margin-top: 2px;
}

.onjob-savedjobs-links {
    float: right;
    color: #ff6d4a;
    font-size: 14px;
    line-height: 1;
    margin-right: 15px;
}

/*--------------------------------------------------------------
# Employer Company  Page CSS
--------------------------------------------------------------*/


.list_banner{
    background-color: #f9f9ff;
    padding:40px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);
}
.emp_details{
    margin-right: 120px;
}
.emp_logo img{
  max-height: 100px;
}
.thumbs{
    width: 200px;
    text-align: center;
    padding: 40px 20px 40px 20px;
    height: 200px;
}
.checked {
    color: orange;
}
.list_icon i{
    font-size: 26px;
    color: #33B6CB;
    float: left;
}
.list_data{
  padding-left: 45px;
}

table{
  width: 100%;
}


/*--------------------------------------------------------------
# Employer shortlist resume  Page CSS
--------------------------------------------------------------*/

.onjob-employer-resumes-wrap {
    border: 1px solid #ececec;
}

.onjob-employer-resumes, .onjob-employer-resumes-wrap, .onjob-employer-resumes figure, .onjob-resumes-options {
    float: left;
    width: 100%;
}

.onjob-employer-resumes-wrap figure {
    padding: 18px 18px 2px 18px;
}

.onjob-resumes-thumb img {
    border-radius: 100%;
}

.onjob-employer-resumes .onjob-resumes-thumb ~ figcaption {
    margin-left: 62px;
    margin-top: 2px;
}

.onjob-employer-resumes-wrap figcaption h2 {
    margin-bottom: 0px !important;
    font-size: 14px !important;
    display: block !important;
    line-height: 1 !important;
}

.onjob-resumes-download {
    float: right;
    color: #3abd69;
    font-size: 11px;
    font-weight: 400;
    margin-top: 2px;
}

.onjob-resumes-download i {
    margin-right: 3px;
}

.onjob-resumes-subtitle {
    display: block;
    color: #999999;
    font-size: 12px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.onjob-resumes-subtitle a{
  color: #33B6CB;
}

.onjob-employer-resumes-wrap figcaption ul {
    display: inline-block !important;
    width: 100% !important;
    margin: 0px !important;
}

.onjob-employer-resumes-wrap figcaption ul li:first-child {
    padding-left: 0px;
}

.onjob-employer-resumes-wrap figcaption ul li {
    float: left;
    width: 50%;
    font-size: 12px;
    color: #999999;
    line-height: 1;
    padding-left: 20px;
    margin-bottom: 10px;
}
.onjob-employer-resumes-wrap ul li {
    list-style: none;
}

.onjob-employer-resumes-wrap figcaption ul li span {
    display: block;
    font-size: 12px;
    color: #555555;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 7px;
}

.onjob-resumes-options {
    border-top: 1px solid #ececec;
}
.onjob-employer-resumes, .onjob-employer-resumes-wrap, .onjob-employer-resumes figure, .onjob-resumes-options {
    float: left;
    width: 100%;
}

.onjob-resumes-options li:first-child {
    border-left: none;
}

.onjob-employer-resumes-wrap ul li {
    list-style: none;
}
.onjob-resumes-options li {
    float: left;
    width: 50%;
    line-height: 1;
    border-left: 1px solid #ececec;
}

.onjob-resumes-thumb {
    float: left !important;
    width: 48px !important;
}
.onjob-resumes-options li a {
    background-color: #fcfcfc;
    float: left;
    width: 100%;
    padding: 16px 9px;
    text-align: center;
    font-size: 12px;
    color: #666666;
    font-weight: 400;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.onjob-resumes-options li a i {
    font-size: 18px;
    display: inline-block;
    vertical-align: sub;
    margin: 0px 5px 0px 0px;
}

.onjob-resumes-options li:hover a{
      background-color: #33B6CB ;
      color: #fff;
}
.pp{
  padding:12px;
}

.overflow-ellipsis
{
  text-overflow: ellipsis;
}
.p-80-width
{
  max-width: 80%;
}

/* Employers Home Page */
.employers-home-section{
  padding: 100px 0;
}
.emp-solutions{
  padding: 100px 0;
}
.emp-why-us{
  padding: 100px 0;
}


/*--------------------------------------------------------------
                    Sign in & sign up CSS
--------------------------------------------------------------*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Raleway-Regular;
  src: url('../fonts/Raleway-Regular.ttf'); 
}

@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/Raleway-Black.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/Raleway-SemiBold.ttf'); 
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/Raleway-Bold.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/



/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #acacac; }
input:-moz-placeholder { color: #acacac; }
input::-moz-placeholder { color: #acacac; }
input:-ms-input-placeholder { color: #acacac; }

textarea::-webkit-input-placeholder { color: #acacac; }
textarea:-moz-placeholder { color: #acacac; }
textarea::-moz-placeholder { color: #acacac; }
textarea:-ms-input-placeholder { color: #acacac; }

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
}
.txt1:hover {
  color: #0084e1;
}

.bo1 {
  border-bottom: 1px solid #999999;
}

.hov1:hover {
  border-color: #33b6cb;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.container-login100 {
  margin-top: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.wrap-login100 {
  margin: 80px 0;
  padding: 25px;
  width: 500px;
  background: #28395a;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  z-index: 9999;
  text-align: center;
}
.wrap-login100  .form-control{
 font-size: 16px;
  line-height: 1.2;
  color: #0084e1;
  display: block;
  width: 100%;
  background: #fff;
  height: 53px;
  padding: 0 30px 0 65px;
  border: 1px solid #0084e1;
  outline: none !important;
  box-shadow: none !important;
}
.container-login100 label {
  color: #fff;
}
.container-login100 .form-group {
  text-align: left
}
.wrap-login100 h5 {
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
}
.wrap-login100  .alert{
    width: 100%;
  }
.check-text {
  color: #fff;
  display: flex;
  align-items: center;
}
.forget-pass {
  color: #fff;
}

.check-text input[type=checkbox] {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  margin-right: 10px;
}
.check-text input[type=checkbox]::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #0084e1;
  left: 0;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.check-text input[type=checkbox]:checked + .check-text input[type=checkbox]::before {
    color: #33b6cb;
}



/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login100-form-title {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  position: relative;
}
.login100-form-title:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  top: 54%;
  left: 0;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
}

.input100 {
  font-size: 16px;
  line-height: 1.2;
  color: #0084e1;
  display: block;
  width: 100%;
  background: #fff;
  height: 53px;
  border-radius: 3px;
  padding: 0 30px 0 65px;
  border: 1px solid #0084e1;
}

.input100::placeholder {
  color: #0084e1;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 19px;
  color: #0084e1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-bottom: 5px;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #33b6cb;
  padding-left: 18px;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #0084e1;
  left: 0;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #33b6cb;
}

.dropdown-item{
  font-size: 13px;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background: #0084e1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #0084e1;
}

.login100-form-btn:hover {
  background: #fff;
  border: 1px solid #0084e1;
  color: #0084e1;
}

/*------------------------------------------------------------------
[ Button sign in with ]*/
.btn-face,
.btn-google {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 10px) / 2);
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.btn-face {
  color: #3b5998;
}

.btn-face i {
  font-size: 20px;
  margin-right: 10px;
  padding-bottom: 1px;
}

.btn-google {
  color: #555555;
}

.btn-google img {
  width: 19px;
  margin-right: 10px;
  padding-bottom: 1px;
}


.btn-face:hover,
.btn-google:hover {
  border-color: #33b6cb;
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Raleway-SemiBold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


.section_padding {
    padding: 50px 20px;
    background: #f0f0f0;
    box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);
}

.container-login100 {
    position: relative;
}

.blog-posts-area .main-title {
  font-size: 40px;
  margin-bottom: 40px;
}

.post-list .single-post {
  margin-bottom: 50px;
}

.employer-job-list h4 {
  font-size: 22px;
  font-weight: 700;
  color: #28395a;
  margin-bottom: 5px;
}

.employer-job-list p{
  font-size: 17px;
  color: #0072c3;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}
.employer-job-list .overflow-ellipsis {
  font-size: 16px;
  color: #131e33;
  font-weight: 500;
}

.employer-job-list a {
    width: 40px;
    height: 40px;
    color: red;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}
.employer-job-list .edit-experience,
.employer-job-list .edit-education {
  color: #2d8700 !important;
}
.employer-job-list .btn-delete {
  color: red !important;
}
.profile_page .single-slidebar figcaption h2 {
  color: #28395a;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0;
}
.profile_page .single-slidebar .employer-dashboard-thumb img {
  margin-top: 0px;
  border: 2px solid #0084e1;
}
.profile_page .post-list .single-post {
  background: #cae9ff42;
  padding: 30px;
  border: 0.5px solid #a9dcff;
  border-radius: 10px;
  margin-bottom: 30px;
}
.profile_page .post-list .single-post .title h4 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: #28395a;
}
.profile_page .post-list .single-post h6{
  margin: 0 0 10px 0;
  color: #3598f5;
    font-weight: 700;
}
.profile_page .post-list .single-post .job-listing-footer {
  margin-top: 0;
}
.profile_page .post-list .single-post .job-listing-footer ul li {
    font-size: 14px;
    color: #131e33;
    font-weight: 500;
    line-height: 22px;
}
.profile_page .post-list .single-post .btns li a {
  background: #0084e1;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #0084e1;
  padding: 9px 12px;
  margin-left: 20px;
}
.profile_page .post-list .single-post .btns li a:hover{
  background: #fff;
  color: #0084e1;
}