/*
 * Template Name: BitFlow
 * Author: Solidlay
 * Version: 1.0
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
Typography
Links
Branding And Navigation
Media
Sections
    - Section Site Header
    - Section Home Slider
    - Section Header Image
    - Section About
    - Section Service
    - Section Setup
    - Section Prices
    - Section Numbers
    - Section Reviews
    - Section Register
    - Section Philosophy
    - Section Features
    - Section Contact
    - Section Site Footer
Media Queries
Clearings
Utilities
--------------------------------------------------------------*/

/* NOTE - This Stylesheet Is fully Dependable On Bootstrap v3 */

/* Default css resets and normalize css has already been done in Bootstrap */


/*--------------------------------------------------------------
 Typography
--------------------------------------------------------------*/

/* Load fonts from file incase google CDN did not load */
@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/OpenSans/OpenSans-LightItalic.ttf');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/OpenSans/OpenSans-Italic.ttf');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/OpenSans/OpenSans-SemiBoldItalic.ttf');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/OpenSans/OpenSans-BoldItalic.ttf');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 800;
    font-style: italic;
    src: url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf');
}

body {
    background-color: #fff;
    color: #494949;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
}

h1, h2, h3,
h4, h5, h6,
.h1, .h2, .h3,
.h4, .h5, .h6 {
    font-weight: 600;
    line-height: 1.1;
    position: relative;
}

h1, .h1, h2,
.h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4, .h4, h5, 
.h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, .h1 {
    font-size: 28px;
}

h2, .h2 {
    font-size: 24px;
}

h3, .h3 {
    font-size: 18px;
}

h4, .h4 {
    font-size: 16px;
}

h5, .h5 {
    font-size: 13px;
}

h6, .h6 {
    font-size: 12px;
}

blockquote {
    border-left: 0;
    font-size: 15px;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.6;
}

blockquote {
	quotes: "" "";
}

q {
	quotes: "“" "”" "‘" "’";
}

blockquote:before,
blockquote:after {
	content: "";
}
/*--------------------------------------------------------------
 Forms
--------------------------------------------------------------*/

.form-control {
    border: 2px solid #ccc;
    border-radius: 45px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s;
            transition: border-color ease-in-out .15s;
}

.form-control:focus {
    border-color: #111;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.btn {
    font-size: 13px;
    font-weight: 700;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.btn-lg {
    line-height: 1.42857143;
}

.btn-curved {
    border-radius: 50px;
}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus {
    outline: 0;
}

/* Reset bootstrap default buttom color */
.btn-default:hover,
.btn-default:focus, .btn-default.focus {
    background-color: #ffffff;
    border-color: #adadad;
}

/* New buttom color */
.btn-theme {
    background-color: #8c3b1d;
    border-color: #8c3b1d;
    color: #fff;

}

.btn-theme:focus,
.btn-theme.focus {
    background-color: #8c3b1d;
    border-color: #8c3b1d;
    color: #fff;
}

.btn-theme:hover {
    color: #fff;
    background-color: #111;
    border-color: #111;
}

.btn-theme:active,
.btn-theme.active,
.open > .dropdown-toggle.btn-theme {
    color: #fff;
    background-color: #111;
    border-color: #111;
}

.btn-theme:active:hover,
.btn-theme.active:hover,
.open > .dropdown-toggle.btn-theme:hover,
.btn-theme:active:focus,
.btn-theme.active:focus,
.open > .dropdown-toggle.btn-theme:focus,
.btn-theme:active.focus,
.btn-theme.active.focus,
.open > .dropdown-toggle.btn-theme.focus {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.btn-theme:active,
.btn-theme.active,
.open > .dropdown-toggle.btn-theme {
    background-image: none;
}

.btn-theme.disabled:hover,
.btn-theme[disabled]:hover,
fieldset[disabled] .btn-theme:hover,
.btn-theme.disabled:focus,
.btn-theme[disabled]:focus,
fieldset[disabled] .btn-theme:focus,
.btn-theme.disabled.focus,
.btn-theme[disabled].focus,
fieldset[disabled] .btn-theme.focus {
    background-color: #777;
    border-color: #777;
}

.btn-theme .badge {
    color: #111;
    background-color: #fff;
}

/*--------------------------------------------------------------
 Links
--------------------------------------------------------------*/
a:focus {
    outline: 0;
}

/*--------------------------------------------------------------
 Branding And Navigation
--------------------------------------------------------------*/

/* Resetting default css applied to bootstrap navbar by default */
.navbar-theme.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding: 12px 0;
    z-index: 2;
}
.navbar-brand {
    padding: 0 15px;
}
.navbar-brand > img {
    display: inline-block;
    height: 50px;
    vertical-align: top;
}

.navbar-theme .navbar-nav > .open > a > .caret {
    transform: rotate(180deg);
}

.navbar-theme.affix {
    background-color: #fff;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    -webkit-animation-name: slideInDown;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-name: slideInDown; /* Animation name is from animation.min.css */
    animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* Introduced new navbar color  */
.navbar-theme {
    background-color: #fff;
}

.navbar-theme .navbar-brand {
    color: #fff;
}

.navbar-theme .navbar-brand:hover,
.navbar-theme .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-theme .navbar-text {
    color: #f3f3f3;
}

.navbar-theme .navbar-nav > li > a {
    color: #464646;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-theme .navbar-nav > li > a:hover,
.navbar-theme .navbar-nav > li > a:focus {
    color: #464646;
    background-color: transparent;
}

.navbar-theme .navbar-nav > .active > a,
.navbar-theme .navbar-nav > .active > a:hover,
.navbar-theme .navbar-nav > .active > a:focus {
    color: #464646;
}

.navbar-theme .navbar-nav > .active > a::after,
.navbar-theme .navbar-nav > .active > a:hover ::after,
.navbar-theme .navbar-nav > .active > a:focus ::after{
    content: '';
    background-color: #8c3b1d;
    bottom: 10px;
    height: 2px;
    left: 30%;
    position: absolute;
    width: 40%;
}

.navbar-theme .navbar-nav > .disabled > a,
.navbar-theme .navbar-nav > .disabled > a:hover,
.navbar-theme .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-theme .dropdown-menu {
    background-color: #00000023;
    border: 1px solid #00000023;
    border: 1px solid rgba(0, 0, 0, .23);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-name: fadeIn; /* Animation name is from animation.min.css */
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-theme.affix .dropdown-menu {
    background-color: #111;
    border: 1px solid #00000023;
    border: 1px solid rgba(0, 0, 0, .23);
}

.navbar-theme .navbar-nav > li > .dropdown-menu {
    margin-top: 12px;
}

.navbar-theme.affix .navbar-nav > li > .dropdown-menu {
    margin-top: -1px;
}

.navbar-theme .dropdown-menu > li > a {
    color: #fff;
}

.navbar-theme .dropdown-menu > li > a:hover,
.navbar-theme.affix .dropdown-menu > li > a:hover {
    color: #333;
}

.navbar-theme .dropdown-menu > .active > a:hover,
.navbar-theme.affix .dropdown-menu > .active > a:hover {
    color: #fff;
}

.navbar-theme .dropdown-menu > .active > a, 
.navbar-theme .dropdown-menu > .active > a:hover, 
.navbar-theme .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8c3b1d;
}
.navbar-theme .navbar-toggle {
    border-color: none;
}

.navbar-theme .navbar-toggle:hover,
.navbar-theme .navbar-toggle:focus {
    background-color: none;
}

.navbar-theme .navbar-toggle .icon-bar {
    background-color: #ddd;
}

.navbar-theme .navbar-collapse,
.navbar-theme .navbar-form {
    border-color: #e7e7e734;
}

.navbar-theme .navbar-nav > .open > a,
.navbar-theme .navbar-nav > .open > a:hover,
.navbar-theme .navbar-nav > .open > a:focus {
    color: #e7e7e7;
    background-color: transparent;
}

@media (max-width: 767px) {

    .navbar-theme .navbar {
        padding: 0;
    }

    .navbar-theme .navbar-collapse {
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .navbar-theme,
    .navbar-theme .navbar-collapse {
        background-color: #000000f1;
    }

    .navbar-theme .navbar-nav > li > a:hover,
    .navbar-theme .navbar-nav > li > a:focus {
        color: #fff;
        background-color: #8c3b1d;
    }

    .navbar-theme .navbar-nav > .active > a,
    .navbar-theme .navbar-nav > .active > a:hover,
    .navbar-theme .navbar-nav > .active > a:focus {
        background-color: #fde674;
        color: #333;
    }

    .navbar-theme .navbar-nav > .active > a::after,
    .navbar-theme .navbar-nav > .active > a:hover ::after,
    .navbar-theme .navbar-nav > .active > a:focus ::after{
        content: none;
    }

    .navbar-theme .navbar-nav > .disabled > a,
    .navbar-theme .navbar-nav > .disabled > a:hover,
    .navbar-theme .navbar-nav > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }

    .navbar-theme .navbar-nav .open .dropdown-menu > li > a {
        color: #ccc;
    }

    .navbar-theme .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-theme .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ccc;
        background-color: transparent;
    }

    .navbar-theme .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-theme .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-theme .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-theme .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-theme .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-theme .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }

}
.navbar-theme .navbar-link {
    color: #777;
}
.navbar-theme .navbar-link:hover {
    color: #333;
}
.navbar-theme .btn-link {
    color: #777;
}
.navbar-theme .btn-link:hover,
.navbar-theme .btn-link:focus {
    color: #333;
}
.navbar-theme .btn-link[disabled]:hover,
fieldset[disabled] .navbar-theme .btn-link:hover,
.navbar-theme .btn-link[disabled]:focus,
fieldset[disabled] .navbar-theme .btn-link:focus {
    color: #ccc;
}

/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/

img,
video {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container's width */
}

/* Make sure Iframe fit the containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
Sections
--------------------------------------------------------------*/

/* sections */
.section {
    display: block;
    margin-bottom: 50px;
    position: relative;
}

.section-title {
    color: #32373c;
    font-size: 30px;
    font-size: 3rem;
    font-weight: 300;
    margin: 0 0 20px;
}

.section-description {
    color: #82878C;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 300;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay-black {
    background-color: rgba(0,0,0,0.85);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* Hide Element and reserve its space prior to bootstrap hidden- classess */
.not-visible {
    visibility: hidden !important;
}

/* Section Site Header */
#masthead {
    display: block;
    position: relative;
}

#masthead .section .btn + .btn {
    margin-left: 12px;
}

/* Header Video */
#header-video.section {
    margin-bottom: 0;
}

#header-video {
    color: #fff;
    position: relative;
    overflow: hidden;
}

#video-content,
#header-video embed,
#header-video iframe,
#header-video object {
    height: 100%;
    left: 50%;
    max-width: 1000%;
    min-height: 100%;
    min-width: 100%;
    min-width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    padding-bottom: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.header-video-content {
    position: relative;
}

#header-video .section-title,
#header-video .section-description  {
    color: #ffffff;
}

.header-video-content {
    padding: 60px 0;
}

/* Header Slider */
#header-slider.section {
    margin-bottom: 0;
}

#header-slider {
    color: #fff;
}

.header-slider-content.slick-slide {
    height: auto;
}

.header-slider-dots {
    bottom: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.header-slider-dots li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
}

.header-slider-dots li button {
    background-color: transparent;
    border-radius: 45px;
    border: 1px solid #fff;
    color: transparent;
    height: 10px;
    cursor: pointer;
    display: block;
    font-size: 0;
    line-height: 1;
    outline: none;
    letter-spacing: 0;
    width: 10px;
}

.header-slider-dots .slick-active button {
    background-color: #8c3b1d;
    border: 1px solid #8c3b1d;
}

.header-slider-content.slick-slide {
    padding: 60px 0;
}

.header-slider-content .container {
    position: relative;
}

.header-slider-content .section-title {
    color: #fff;
    font-size: 40px;
    font-size: 4rem;
}

.header-slider-content .section-description {
    color: #fdfdfd;
    font-weight: 400;
}

/* Static Header Image  */
#header-image.section {
    margin-bottom: 0;
}

#header-image {
    color: #fff;
    padding: 60px 0;
}

#header-image .section-title {
    color: #fff;
    font-size: 40px;
    font-size: 4rem;
}

#header-image .section-description {
    color: #fdfdfd;
    font-weight: 400;
}

/* Section About */
#about .section-description {
    text-align: justify;    
}

/* Section Services */
#services .media {
    border-radius: 4px;
    margin-top: 0;
    padding: 45px 30px;
}

#services .media-heading {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 300;
}
#services .media-body {
    font-size: 15px;
    line-height: 30px;
}

#services .media-left {
    padding-right: 30px;
}

#services .media-object {
    color: #8c3b1d;
    font-size: 40px;
}

/*#services li:first-child .media {
    background-color: #8c3b1d;
    color: #fbfbfb;
}*/

/*#services li:first-child .media .media-object,
#services li:first-child .media .media-heading {
    color: #fff;
}*/

/* Section Setup */
#setup {
    color: #bec1c4;
    padding: 0 0 70px;
}

#setup.bg {
    background-position: bottom;
}

#setup .overlay-black {
    background-color: #000000ad;
}

#setup .cover-half {
    background-color: #111;
    bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
}

#setup a,
#setup a:hover,
#setup a:focus,
#setup .block-title,
#setup .section-title,
#setup .section-description {
    color: #efefef;
    text-decoration: none;
}

#setup ol.media-list {
    background-color: #111;
    padding: 70px 15px;
}

#setup .media {
    margin-top: 35px;
}

#setup .media:first-child {
    margin-top: 0;
}

#setup .media-heading {
    color: #efefef;
    margin-bottom: 18px;
    text-transform: capitalize;
}

#setup .media-left {
    padding-right: 30px;
}

#setup .media-object {
    color: #efefef;
    border: 1px solid #8c3b1d;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    border-radius: 50px;
    padding: 10px 15px;
}

/* Section Prices */
.amount-card {
    padding-bottom: 30px;
    padding-top: 30px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .06);
    box-shadow: 0 0 20px rgba(0, 0, 0, .06);
}

.bit-amount {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.amount {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

/* Section Number */
#numbers.section {
    margin-bottom: 0;
}

#numbers {
    color: #fff;
    background-color: #00000011;
    padding: 80px 0;
    text-align: center;
}

.number {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 60px;
}

.number:last-child {
    margin-bottom: 0;
}

.number .fa {
    font-size: 38px;
}

.number .counter {
    color: #8c3b1d;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Section Reviews */
#reviews {
    background-color: #f5f5f5;
    padding: 70px 0;
}

.reviewer-name {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.reviewer-career {
    color: #f2a900;
    font-size: 13px;
    font-size: 1.3rem;
    text-transform: capitalize;
}

#reviews .star-rate {
    color: #f2a900;
    margin-bottom: 20px;
}

#reviews .review img {
    border-radius: 50%;
    height: 120px;
    margin: 0 auto 20px;
    width: 120px;
}

#reviews-inner .slick-slide {
    height: auto;
}

.reviews-slider-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.reviews-slider-dots li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
}

.reviews-slider-dots li button {
    background-color: transparent;
    border-radius: 45px;
    border: 1px solid #999;
    color: transparent;
    height: 10px;
    cursor: pointer;
    display: block;
    font-size: 0;
    line-height: 1;
    outline: none;
    letter-spacing: 0;
    width: 10px;
}

.reviews-slider-dots .slick-active button {
    background-color: #8c3b1d;
    border-color: #8c3b1d;
}

/* Section Features */
#features.section {
    padding: 50px;
    background-position: center;
    background-size: cover;
}
#features .section-title {
    color: #fff;
}

#features ul {
    margin: 0;
    padding: 0;
}

#features ul li {
    line-height: 22px;
    list-style: none;
    margin-bottom: 0;
    color: #fff;
}

#features ul li .h4 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
#features ul li .bannerslot {
    width: 100%;
    float: left;
    height: auto;
    margin-bottom: 20px;
}
#features ul li .bannerslot img {
    max-width: 100%;
}
#features ul li .icon {
    border-radius: 50%;
    color: #8c3b1d;
    font-size: 30px;
    height: 100px;
    margin: 0 auto 25px;
    padding: 60px;
    width: 100px;
    background: #8c3b1d;
    position: relative;
    transition: all .5s;
}
#features ul li .icon img {
    max-width: 60px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: all .5s;
}
#features ul li div.content {
    text-align: justify;
}

/* Section Register */
#register {
    padding: 70px 0; 
}

#register p.h1 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 50px;
}

#register .btn {
    position: relative;
}

/* Section Philosophy */
.article {
    background-color: #f5f5f5;
    padding: 48px;
}

.article p {
    color: #555;
    line-height: 1.786;
    margin-top: 30px;
    margin-bottom: 50px;
}

.article .location {
    color: #8c3b1d;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 3;
}

/* Section Contact */
#contact.section {
    /* Overide default margin set on all sections */
    margin-bottom: 0;
}

#contact {
    color: #fff;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: normal;
    padding: 70px 0;
}

#contact a,
#contact a:hover,
#contact a:focus,
#contact .section-title,
#contact .section-description {
    color: #fff;
    text-decoration: none;
}

#contact .block-title {
    color: #8c3b1d;
    margin: 0 0 30px;
    text-transform: capitalize;
}

#contact .social-networks {
    margin: 0;
    padding: 0;
}

#contact .social-networks li {
    list-style: none;
    display: inline-block;
    padding: 4px 15px;
}

/* Section Site Footer */
.copyright {
    font-size: 14px;
    font-size: 1.4rem;
}

#btt-btn {
	background-color: #00000057;
	bottom: 15px;
	color: #fff;
    display: none;
    font-size: 15px;
	font-size: 1.5rem;
    height: 50px;
    line-height: 2.5;
	outline: 0;
	padding: 5px;
	position: fixed;
	right: 40px;
	text-align: center;
	width: 50px;
}

#btt-btn .btt-icon {
    line-height: 2.5;
}

/* Others */
.modal-title {
    position: static;
}

/* Overiding Bootstrap Defaut */
.nav-pills > li {
    float: none;
    display: inline-block;
}

.nav-pills > li + li {
    margin-left: 0;
}

.nav-pills > li > a {
    background-color: #333;
    border-radius: 0;
    color: #fff;
}

.nav > li > a:hover, 
.nav > li > a:focus {
    text-decoration: none;
    background-color: #393939;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #8c3b1d;
}

/*--------------------------------------------------------------
Media Query
--------------------------------------------------------------*/
@media ( min-width: 768px ) {

    /*--------------------------------------------------------------
    Typography
    --------------------------------------------------------------*/
    h1, .h1 {
        font-size: 36px;
    }
    
    h2, .h2 {
        font-size: 30px;
    }
    
    h3, .h3 {
        font-size: 24px;
    }
    
    h4, .h4 {
        font-size: 18px;
    }
    
    h5, .h5 {
        font-size: 14px;
    }
    
    h6, .h6 {
        font-size: 12px;
    }    
    
    blockquote {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1.8;
    }
    
    /* Branding And Navigation */
    .top-menu-absolute .top-menu {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    /*--------------------------------------------------------------
    Sections
    --------------------------------------------------------------*/
    .section {
        margin-bottom: 90px;
    }

    .section-title {
        font-size: 40px;
        font-size: 4rem;
        margin: 0 0 40px;
    }
    
    .section-description {
        font-size: 18px;
        margin-bottom: 30px;
    }

    /* Section Site Header */

    /*  Header Video */
    .header-video-content {
        padding: 180px 0;
    }

    #header-video .section-title {
        font-size: 55px;
        font-size: 5.5rem;
        max-width: 768px;
        margin: 0 auto 30px;
    }

    #header-video .section-description {
        font-weight: 400;
        max-width: 768px;
        margin: 0 auto 40px;
    }

    /*  Header Slider */
    .header-slider-content.slick-slide {
        padding: 100px 0;
    }

    .header-slider-content .section-title {
        font-size: 55px;
        font-size: 5.5rem;
        max-width: 850px;
        margin: 0 auto 30px;
        font-weight: 700;
    }

    .header-slider-content .section-description {
        font-weight: 400;
        max-width: 768px;
        margin: 0 auto 40px;
    }

    /* Static Header Image  */
    #header-image.section {
        margin-bottom: 0;
    }

    #header-image {
        color: #fff;
        padding: 140px 0;
    }

    #header-image .section-title {
        font-size: 55px;
        font-size: 5.5rem;
        max-width: 768px;
        margin: 0 auto 30px;
    }

    #header-image .section-description {
        font-weight: 400;
        max-width: 768px;
        margin: 0 auto 40px;
    }

    /* Section About */
    #about .section-description, #services .section-description {
        margin-left: auto;
        margin-right: auto;
    }

    /* Section Services */
    #services .media {
        padding: 45px 15px;
    }

    /* Section Setup */
    #setup {
        padding: 100px 0;
    }

    #setup.bg {
        background-position: center;
    }

    #setup ol.media-list {
        padding: 0 30px 0 15px;
    }

    /* Section Prices */ 
    #prices .section-description {
        margin-left: auto;
        margin-right: auto;
    }

    /* Section Numbers */
    .number {
        margin-bottom: 0;
    }

    /* Section Reviews */
    #reviews {
        padding: 100px 0;
    }

    #reviews-inner {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Section Features */
    #features .section-description {
        margin-left: auto;
        margin-right: auto;
    }

    /*#features ul li {
        margin-bottom: 70px;
    }*/

    /* Section Register */
    #register {
        padding: 100px 0; 
    }


    /* Section Contact */
    #contact {
        font-size: 1.8rem;
        line-height: 1.8;
        padding: 100px 0;
    }

    #contact .section-title {
        margin: 0 0 50px;
    }
}

@media ( min-width: 992px ) {
    /*--------------------------------------------------------------
    Sections
    --------------------------------------------------------------*/
    .bg {
        background-size: 100%;
    }

}

/*--------------------------------------------------------------
Clearings
--------------------------------------------------------------*/
.site-header::before,
.site-header::after,
.section::before,
.section::after {
    content: " ";
    display: block;
}

.site-header::after,
.section::after {
    clear: both;
}

/*--------------------------------------------------------------
Utilities
--------------------------------------------------------------*/

.theme-text-color-light {
    color: #8c3b1d;
}

.theme-text-color-dark {
    color: #eec702;
}

.opaque {
    opacity: 0;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-30 {
    padding: 30px;
}

.padding-40 {
    padding: 40px;
}

.padding-50 {
    padding: 50px;
}

.padding-60 {
    padding: 60px;
}

.margin-10 {
    margin: 10px;
}

.margin-20 {
    margin: 20px;
}

.margin-30 {
    margin: 30px;
}

.margin-40 {
    margin: 40px;
}

.margin-50 {
    margin: 50px;
}

.margin-60 {
    margin: 60px;
}

.padding-horiz-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-horiz-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-horiz-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-horiz-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.padding-horiz-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.padding-horiz-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.padding-horiz-60 {
    padding-left: 60px;
    padding-right: 60px;
}

.padding-vert-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-vert-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-vert-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-vert-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-vert-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-vert-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-vert-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-vert-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.margin-horiz-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-horiz-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.margin-horiz-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-horiz-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.margin-horiz-40 {
    margin-left: 40px;
    margin-right: 40px;
}

.margin-horiz-50 {
    margin-left: 50px;
    margin-right: 50px;
}

.margin-horiz-60 {
    margin-left: 60px;
    margin-right: 60px;
}

.margin-vert-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-vert-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-vert-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-vert-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-vert-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-vert-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.margin-vert-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.margin-vert-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.no-padding {
    padding: 0 0 4px !important;
}

.no-margin {
    margin: 0 !important;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-70 {
    margin-bottom: 70px;
}
.margin-bottom-80 {
    margin-bottom: 70px;
}
.margin-bottom-90 {
    margin-bottom: 80px;
}
.margin-bottom-100 {
    margin-bottom: 100px;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}
 
.padding-top-40 {
    padding-top: 40px;
}
 
.padding-top-50 {
    padding-top: 50px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}
 
.padding-bottom-20 {
    padding-bottom: 20px;
}
 
.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

#services .job li {
    margin-bottom: 30px;
}
#services .job .media {
    border: 1px solid #e3e9ef;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,.05);
}
#services .media-left img {
    max-width: 100px;
}
#services .media a {
    color: #464646;
    text-decoration: none;
    text-transform: none;
}
#services .media .label {
    margin-right: 15px;
}
#services .media i.fa-money {
    margin-left: 30px;
    margin-right: 15px;
}
.inner-header-title {
    padding: 150px 0;
    text-align: center;
    color: #fff;
    overflow: visible;
    border-bottom: 4px solid #8c3b1d;
    background: url(../images/searchjobs.jpg);
    background-size: auto auto;
    background-size: cover;
}
.inner-header-title h1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
}
.filterBlock {
    width: 100%;
    float: left;
    max-height: auto;
}
.form-control {
    height: 50px;
    border: 1px solid #dde6ef;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 0;
    background: #fbfdff;
    font-size: 15px;
    color: #445461;
    font-weight: 400;
}
.jobtypes {
    width: 100%;
    float: left;
    max-height: auto;
    text-align: right;
}
.jobtypes label {
    font-weight: 600;
    color: #707c88;
    margin: 0 0 10px 15px;
}
.check-option {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-transition: all .15s ease-out 0;
    -moz-transition: all .15s ease-out 0;
    transition: all .15s ease-out 0;
    background: #eaeef3;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    position: relative;
    margin-right: 10px;
}
.check-option:checked::before {
    width: 25px;
    height: 25px;
    position: absolute;
    content: '\002714';
    display: inline-block;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
}
.check-option.full-time {
    background-color: #5cb85c;
}
.check-option.part-time {
    background-color: #f0ad4e;
}
.check-option.freelancer {
    background-color: #337ab7;
}
.check-option.internship {
    background-color: #d9534f;
}
.jobtypes input[type="checkbox"], .jobtypes input[type="radio"] {
    top: 7.33px;
}
.joblists {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.serviceList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 0;
}
.serviceList li {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 4);
    padding: 15px;
    box-sizing: border-box;
    margin: 0;
}
#features ul.serviceList li:hover .icon {
    background: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 10px #8c3b1d;
    -moz-box-shadow: inset 0px 0px 0px 10px #8c3b1d;
    box-shadow: inset 0px 0px 0px 10px #8c3b1d;
}
#features ul.serviceList li:hover .icon img {
    filter: brightness(0);
    transform: translate(-50%, -50%) scale(0.8);
    transform-origin: center;
}
.wrapper-grey {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    background-color: #FCFCFC;
    color: #888888;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}
.wrapper.padding50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.section ul.list {
    margin: 0;
    padding: 0;
    font-size: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.section ul.list li {
    color: #82878C;
    font-weight: 300;
    margin-bottom: 15px;
    vertical-align: top;
    display: inline-block;
    width: calc(100% / 4);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}
.section ul.list img {
    display: inline-block;
    max-width: 80px;
    margin-bottom: 30px;
}
.section .clientList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    max-width: 100%;
}
.section .clientList li {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 4);
    padding: 15px;
    box-sizing: border-box;
}
.section .clientList li a {
    display: block;
    float: left;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.section .clientList li a img {
    max-width: 100%;
}
.iconblock {
    margin: 0;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0 rgba(90, 90, 90, 0.18);
    box-shadow: 0px 0px 10px 0 rgba(90, 90, 90, 0.18);
}